*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.login-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 300px;
}
.input-boxes{
  display: flex;
  flex-direction: column;
}
.login-buttons{
  display: flex;
  gap: 1em;
}
.router-link{
  text-decoration: none;
  color: white;
}
.button-disabled{
  pointer-events: none;
  opacity: 0.4;
}
.category-container{
  background-color: beige;
}
.category-list{
  display: flex;
  list-style-type: none;
  gap: 2em;
  justify-content:space-evenly;
  padding: 1em;
}
.category-item{
  cursor: pointer;
}
.item-display-container{
  background-color: burlywood;
  display: flex;
  flex-direction: column;
}
.row-item{
  display: flex;
  overflow: hidden;
  padding: 1em;
  height: 10em;
  gap: 2em;
}
.item-name{
  width: 10em;
}
.item-desc{
  width: 20em;
  overflow: hidden;
}
.item-price{
  width: 5em;
}
.item-img-url{
  width: 15em;
  object-fit: cover;
}
.delete-button{
  align-self: center;
}
.table-header{
  height: 1em;
  padding: 1em;
  background-color: rgb(95, 78, 55);
  color: hsl(0, 0%, 100%, 0.7);
}
.item-quantity{
  width: 5em;
}
.add-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-container{
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}